body {
  background-image: url("https://wallpapercave.com/wp/wp2518595.jpg");
  opacity:0.9;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  background-size: contain;
background-repeat: no-repeat;
}